@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    Layout = "~/Views/Shared/_AdminLayouts.cshtml";
}


<!-- general form elements -->
<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">About Page Setting</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form role="form">

            @*firstPage setting*@
            <div class="row">
                <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>About Me</label>
                        <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                    </div>
                </div>
            </div>
            


        </form>
    </div>
    <!-- /.card-body -->
</div>

