@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "~/Views/Shared/_AdminLayouts.cshtml";

}




<div class="card card-cyan">
    <div class="card-header">
        <h3 class="card-title">Services Page Setting</h3>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-11">
                                    <h3 class="card-title">Backend Development</h3>
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-success btn-sm">Add <i>+</i> </button>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Task</th>
                                        <th>Progress</th>
                                        <th style="width: 40px">Label</th>
                                        <th style="width: 115px">Operation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>Update software</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-danger">55%</span></td>

                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-warning btn-sm">UPT</button>
                                                </div>

                                                <div class="col-sm-6">
                                                    <button class="btn btn-danger btn-sm">DEL</button>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>Clean database</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-warning" style="width: 70%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-warning">70%</span></td>

                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-warning btn-sm">UPT</button>
                                                </div>

                                                <div class="col-sm-6">
                                                    <button class="btn btn-danger btn-sm">DEL</button>
                                                </div>
                                            </div>

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>3.</td>
                                        <td>Cron job running</td>
                                        <td>
                                            <div class="progress progress-xs progress-striped active">
                                                <div class="progress-bar bg-primary" style="width: 30%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-primary">30%</span></td>

                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-warning btn-sm">UPT</button>
                                                </div>

                                                <div class="col-sm-6">
                                                    <button class="btn btn-danger btn-sm">DEL</button>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4.</td>
                                        <td>Fix and squish bugs</td>
                                        <td>
                                            <div class="progress progress-xs progress-striped active">
                                                <div class="progress-bar bg-success" style="width: 90%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-success">90%</span></td>

                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-warning btn-sm">UPT</button>
                                                </div>

                                                <div class="col-sm-6">
                                                    <button class="btn btn-danger btn-sm">DEL</button>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-11">
                                    <h3 class="card-title">Frontend Development</h3>
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-success btn-sm">Add <i>+</i> </button>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Task</th>
                                        <th>Progress</th>
                                        <th style="width: 40px">Label</th>
                                        <th style="width: 115px">Operation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>Update software</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-danger">55%</span></td>

                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-warning btn-sm">UPT</button>
                                                </div>

                                                <div class="col-sm-6">
                                                    <button class="btn btn-danger btn-sm">DEL</button>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>Clean database</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-warning" style="width: 70%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-warning">70%</span></td>

                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-warning btn-sm">UPT</button>
                                                </div>

                                                <div class="col-sm-6">
                                                    <button class="btn btn-danger btn-sm">DEL</button>
                                                </div>
                                            </div>

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>3.</td>
                                        <td>Cron job running</td>
                                        <td>
                                            <div class="progress progress-xs progress-striped active">
                                                <div class="progress-bar bg-primary" style="width: 30%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-primary">30%</span></td>

                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-warning btn-sm">UPT</button>
                                                </div>

                                                <div class="col-sm-6">
                                                    <button class="btn btn-danger btn-sm">DEL</button>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4.</td>
                                        <td>Fix and squish bugs</td>
                                        <td>
                                            <div class="progress progress-xs progress-striped active">
                                                <div class="progress-bar bg-success" style="width: 90%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-success">90%</span></td>

                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-warning btn-sm">UPT</button>
                                                </div>

                                                <div class="col-sm-6">
                                                    <button class="btn btn-danger btn-sm">DEL</button>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-11">
                                    <h3 class="card-title">DevOps Development</h3>
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-success btn-sm">Add <i>+</i> </button>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Task</th>
                                        <th>Progress</th>
                                        <th style="width: 40px">Label</th>
                                        <th style="width: 115px">Operation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>Update software</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-danger">55%</span></td>

                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-warning btn-sm">UPT</button>
                                                </div>

                                                <div class="col-sm-6">
                                                    <button class="btn btn-danger btn-sm">DEL</button>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>Clean database</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-warning" style="width: 70%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-warning">70%</span></td>

                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-warning btn-sm">UPT</button>
                                                </div>

                                                <div class="col-sm-6">
                                                    <button class="btn btn-danger btn-sm">DEL</button>
                                                </div>
                                            </div>

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>3.</td>
                                        <td>Cron job running</td>
                                        <td>
                                            <div class="progress progress-xs progress-striped active">
                                                <div class="progress-bar bg-primary" style="width: 30%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-primary">30%</span></td>

                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-warning btn-sm">UPT</button>
                                                </div>

                                                <div class="col-sm-6">
                                                    <button class="btn btn-danger btn-sm">DEL</button>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4.</td>
                                        <td>Fix and squish bugs</td>
                                        <td>
                                            <div class="progress progress-xs progress-striped active">
                                                <div class="progress-bar bg-success" style="width: 90%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-success">90%</span></td>

                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-warning btn-sm">UPT</button>
                                                </div>

                                                <div class="col-sm-6">
                                                    <button class="btn btn-danger btn-sm">DEL</button>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-11">
                                    <h3 class="card-title">Database Management</h3>
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-success btn-sm">Add <i>+</i> </button>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Task</th>
                                        <th>Progress</th>
                                        <th style="width: 40px">Label</th>
                                        <th style="width: 115px">Operation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>Update software</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-danger">55%</span></td>

                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-warning btn-sm">UPT</button>
                                                </div>

                                                <div class="col-sm-6">
                                                    <button class="btn btn-danger btn-sm">DEL</button>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>Clean database</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-warning" style="width: 70%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-warning">70%</span></td>

                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-warning btn-sm">UPT</button>
                                                </div>

                                                <div class="col-sm-6">
                                                    <button class="btn btn-danger btn-sm">DEL</button>
                                                </div>
                                            </div>

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>3.</td>
                                        <td>Cron job running</td>
                                        <td>
                                            <div class="progress progress-xs progress-striped active">
                                                <div class="progress-bar bg-primary" style="width: 30%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-primary">30%</span></td>

                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-warning btn-sm">UPT</button>
                                                </div>

                                                <div class="col-sm-6">
                                                    <button class="btn btn-danger btn-sm">DEL</button>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4.</td>
                                        <td>Fix and squish bugs</td>
                                        <td>
                                            <div class="progress progress-xs progress-striped active">
                                                <div class="progress-bar bg-success" style="width: 90%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-success">90%</span></td>

                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-warning btn-sm">UPT</button>
                                                </div>

                                                <div class="col-sm-6">
                                                    <button class="btn btn-danger btn-sm">DEL</button>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </section>




</div>


