
@{
    ViewData["Title"] = "Devops";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}


@section banner{
    <h1 class="mb30">Dev-Ops</h1>

}



<div id="fh5co-about">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <span>Know us</span>
                <h2>DevOps History</h2>
                <p>
                    Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
                    Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
                    Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
                    Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
                    Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
                </p>
            </div>
        </div>
        <div class="row row-pb-md animate-box">
            <div class="col-md-6 col-md-push-6">
                <div class="desc">
                    <h3>Mission &amp; Vission</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quo est quis mollitia ratione magni assumenda repellat atque modi temporibus tempore ex. Dolore facilis ex sunt ea praesentium expedita numquam?</p>
                    <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci rem dolorem nesciunt perferendis quae amet deserunt eum labore quidem minima.</p>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <img class="img-responsive" src="https://oneclick-cloud.com/wp-content/uploads/2019/09/Bigstock_-139961875-Docker-Emblem.-A-Blue-Whale-With-Several-Containers.-e1574090673987.jpg" alt="about">
            </div>

        </div>

        <div class="row row-pb-md animate-box">
            <div class="col-md-6 col-md-push-6">
                <div class="desc">
                    <h3>Mission &amp; Vission</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quo est quis mollitia ratione magni assumenda repellat atque modi temporibus tempore ex. Dolore facilis ex sunt ea praesentium expedita numquam?</p>
                    <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci rem dolorem nesciunt perferendis quae amet deserunt eum labore quidem minima.</p>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <img class="img-responsive" src="https://www.webtekno.com/images/editor/default/0002/76/1674678e8b51d708035a9bdad3bfc16dc9be9aa8.jpeg" alt="about">
            </div>

        </div>


    </div>
</div>


