
@{
    ViewData["Title"] = "Work";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section banner{
    <h1 class="mb30">Work </h1>
}

<div id="fh5co-project">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading  animate-box">
                <span>Want Some Cool Stuff</span>
                <h2> Job Experience </h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                   
                    @*<img src="https://res.cloudinary.com/practicaldev/image/fetch/s--G0LgQUxp--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://thepracticaldev.s3.amazonaws.com/i/ssqkgebqme30hf4fwmw0.png" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">*@
                    <img src=" https://www.wallpapertip.com/wmimgs/160-1606533_how-to-become-a-full-stack-web-developer.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Grup Arge</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--G0LgQUxp--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://thepracticaldev.s3.amazonaws.com/i/ssqkgebqme30hf4fwmw0.png" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Cezeri Mekatronik</h3>
                </a>
            </div>
           
           

        </div>
    </div>

</div>


