
@{
    ViewData["Title"] = "Work";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section banner{
    <h1 class="mb30">Work </h1>
}

<div id="fh5co-project">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading  animate-box">
                <span>Want Some Cool Stuff</span>
                <h2>Recent Project</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/images/template/images/work-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Clipboard Office</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/images/template/images/work-2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Smart Layers</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/images/template/images/work-3.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Notepad Mockup</h3>
                </a>
            </div>



            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/images/template/images/work-4.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Outline Ribbon</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/images/template/images/work-5.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Food Icons Set</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/images/template/images/work-6.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Business Card</h3>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/images/template/images/work-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Clipboard Office</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/images/template/images/work-2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Smart Layers</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/images/template/images/work-3.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Notepad Mockup</h3>
                </a>
            </div>



            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/images/template/images/work-4.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Outline Ribbon</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/images/template/images/work-5.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Food Icons Set</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/images/template/images/work-6.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Business Card</h3>
                </a>
            </div>

        </div>
    </div>

</div>

<div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <span>You deserved happiness</span>
                <h2>Happy Clients</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 animate-box">
                <div class="testimonial">
                    <blockquote>
                        <p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                        <p class="author"> <img src="~/images/template/images/person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; Mike Adam</cite></p>
                    </blockquote>
                </div>

                <div class="testimonial">
                    <blockquote>
                        <p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                        <p class="author"><img src="~/images/template/images/person2.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; Eric Miller</cite></p>
                    </blockquote>
                </div>
            </div>

            <div class="col-md-6 animate-box">
                <div class="testimonial">
                    <blockquote>
                        <p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                        <p class="author"><img src="~/images/template/images/person3.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; Eric Miller</cite></p>
                    </blockquote>
                </div>

                <div class="testimonial">
                    <blockquote>
                        <p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                        <p class="author"><img src="~/images/template/images/person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; Mike Adam</cite></p>
                    </blockquote>
                </div>

            </div>



        </div>
    </div>
</div>

<div id="fh5co-started">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <span>Let's work together</span>
                <h2>Start Your Project</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                <p><button type="submit" class="btn btn-default">Get In Touch</button></p>
            </div>
        </div>
    </div>
</div>

