@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}



@section banner{

    <h1 class="mb30">Never Stop Exploring.</h1>
        <p>
            <a href="http://freehtml5.co/" target="_blank" class="btn btn-primary">Download CV</a>
        </p>
}


<div id="fh5co-services" class="fh5co-bg-section">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-center animate-box" data-animate-effect="fadeInUp">
                <div class="fh5co-heading">
                    <span>We're expert</span>
                    <h2>What We Do</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-eye"></i>
                    </span>
                    <h3>Retina Ready</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-command"></i>
                    </span>
                    <h3>Fully Responsive</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-power"></i>
                    </span>
                    <h3>Web Starter</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-eye"></i>
                    </span>
                    <h3>Retina Ready</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-command"></i>
                    </span>
                    <h3>Fully Responsive</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-power"></i>
                    </span>
                    <h3>Web Starter</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="fh5co-project">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading  animate-box">
                <span>Want Some Cool Stuff</span>
                <h2>Recent Project</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/images/template/images//work-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Clipboard Office</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/images/template/images//work-2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Smart Layers</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/images/template/images//work-3.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Notepad Mockup</h3>
                </a>
            </div>

        </div>
    </div>

</div>

<div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <span>You deserved happiness</span>
                <h2>Happy Clients</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 animate-box">
                <div class="testimonial">
                    <blockquote>
                        <p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                        <p class="author"> <img src="~/images/template/images//person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; Mike Adam</cite></p>
                    </blockquote>
                </div>

                <div class="testimonial">
                    <blockquote>
                        <p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                        <p class="author"><img src="~/images/template/images//person2.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; Eric Miller</cite></p>
                    </blockquote>
                </div>
            </div>

            <div class="col-md-6 animate-box">
                <div class="testimonial">
                    <blockquote>
                        <p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                        <p class="author"><img src="~/images/template/images//person3.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; Eric Miller</cite></p>
                    </blockquote>
                </div>

                <div class="testimonial">
                    <blockquote>
                        <p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                        <p class="author"><img src="~/images/template/images//person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; Mike Adam</cite></p>
                    </blockquote>
                </div>

            </div>



        </div>
    </div>
</div>

<div id="fh5co-counter">
    <div class="container">

        <div class="row animate-box" data-animate-effect="fadeInUp">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <span>Enjoy it</span>
                <h2>Fun Facts</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-download"></i>
                    </span>
                    <span class="counter"><span class="js-counter" data-from="0" data-to="15" data-speed="1500" data-refresh-interval="50">1</span>M+</span>
                    <span class="counter-label">Downloads</span>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-face-smile"></i>
                    </span>
                    <span class="counter"><span class="js-counter" data-from="0" data-to="2" data-speed="1500" data-refresh-interval="50">1</span>K+</span>
                    <span class="counter-label">Happy Clients</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-briefcase"></i>
                    </span>
                    <span class="counter"><span class=" js-counter" data-from="0" data-to="6" data-speed="1500" data-refresh-interval="50">1</span>K+</span>
                    <span class="counter-label">Projects Done</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-time"></i>
                    </span>
                    <span class="counter"><span class="js-counter" data-from="0" data-to="7" data-speed="1500" data-refresh-interval="50">1</span>K+</span>
                    <span class="counter-label">Hours Spent</span>

                </div>
            </div>

        </div>
    </div>
</div>

<div id="fh5co-blog" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box row-pb-md" data-animate-effect="fadeInUp">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <span>Thoughts &amp; Ideas</span>
                <h2>Our Blog</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
                <div class="fh5co-post">
                    <span class="fh5co-date">Sep. 12th</span>
                    <h3><a href="#">Web Design for the Future</a></h3>
                    <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                    <p class="author"><img src="~/images/template/images//person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite> Mike Adam</cite></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
                <div class="fh5co-post">
                    <span class="fh5co-date">Sep. 23rd</span>
                    <h3><a href="#">Web Design for the Future</a></h3>
                    <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                    <p class="author"><img src="~/images/template/images//person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite> Mike Adam</cite></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
                <div class="fh5co-post">
                    <span class="fh5co-date">Sep. 24th</span>
                    <h3><a href="#">Web Design for the Future</a></h3>
                    <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                    <p class="author"><img src="~/images/template/images//person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite> Mike Adam</cite></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-started">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <span>Let's work together</span>
                <h2>Start Your Project</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                <p><button type="submit" class="btn btn-default">Get In Touch</button></p>
            </div>
        </div>
    </div>
</div>

