
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section banner{
    <h1 class="mb30">Blogs</h1>
}


<div id="fh5co-blog" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box row-pb-md" data-animate-effect="fadeInUp">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <span>Thoughts &amp; Ideas</span>
                <h2>Blogs Title</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
                <div class="fh5co-post">
                    <span class="fh5co-date">Sep. 12th</span>
                    <h3><a asp-controller="Blog" asp-action="BlogPage">Web Design for the Future</a></h3>
                    <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                    <p class="author"><img src="~/images/template/images/person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite> Mike Adam</cite></p>
                </div>
            </div>
            
            <div class="col-md-12 text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>



